<!DOCTYPE html>
<html>
  <head>
    <title>FcFinder</title>

   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
   <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

   <%= javascript_include_tag 'fcfinder', 'data-turbolinks-track' => true %>
   <%= stylesheet_link_tag    'fcfinder', media: 'all', 'data-turbolinks-track' => true %>
   <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="fcfinder"></div>

    <script type="text/javascript">
      $(function(){
        $("#fcfinder").fcFinder({
            // this value must be the address that you set in the route
            url:"/fcfinder",
        getFileCallback: function(url) {
          /**
            Integrated Editor For The First Stage Of The Process, You Can Leave This Value Blank
            By default CKEditor is working in an integrated manner with
          */   
            }
        });
      });
    </script>
  </body>
</html>
           
