<!-- <nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="clear">
              <span class="block m-t-xs">
                <strong class="font-bold">Example user</strong>
              </span> <span class="text-muted text-xs block">Example menu <b class="caret"></b></span>
            </span>
          </a>
          <ul class="dropdown-menu animated fadeInRight m-t-xs">
              <li><a href="#">Logout</a></li>
          </ul>
        </div>
        <div class="logo-element">
            IN+
        </div>
      </li>
      <li class="<%= 'active' if current_page?('/') %>">
          <%= link_to "/" do %>
          <i class="fa fa-dashboard"></i> <span class="nav-label">Main page</span>
          <% end %>
      </li>
      <li class="<%= 'active' if current_page?('/other/page') %>">
          <%= link_to "/home/minor" do %>
          <i class="fa fa-desktop"></i> <span class="nav-label">Other page</span>
          <% end %>
      </li>
    </ul>

  </div>
</nav>
 -->